<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script src="{$basePath}/dist/app.js" defer></script>
	<link rel="stylesheet" href="{$basePath}/dist/app.css"/>
	<title>{ifset title}{include title|stripHtml} | {/ifset}</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
	{/block}
</body>
</html>
